* {
    margin:0;
    padding:0;
}
header{
    position:sticky;
    top:0;
    background-color:white;
    z-index:1;
}
footer ul li{
    list-style:none;
}
#carouselExampleInterval .carousel-item, .slider-content{
    height: 600px;
}
.slider-content-overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: .6;
    background-color: black;
}
.slider-content{
    position: relative;
    /* z-index: 1; */
    /* top: 150px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
#slider-image-1{
    background:url('images/h1_hero1.jpg.webp');
    background-size:cover;
}
#slider-image-2{
    background:url('images/class-img3.jpg.webp');
    background-size:cover;
}
#slider-image-3{
    background:url('images/blog2.jpg.webp');
    /* background-position:center; */
    background-size:cover;
}
.copyright{
    padding: 10px 0;
    color: white;
    background-color: #2a465b;
}
footer {
    margin-top: 20px;
    background: #f4f4f4;
}
footer li{
    padding: 3px 0;
}
.about-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.page-header {
    padding: 40px 0;
    background: #2599d6;
    color: white;
    margin-bottom: 20px;
}
.user-section{
    padding: 40px 0;
}
.user-section .fas, .user-section .fab  {
    font-size: 20px;
    background: #1e718f;
    padding: 15px;
    border-radius: 50%;
    color: white;
    margin-bottom: 10px;
}